body {
    background-color: aqua;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.container {
    display: flex;
}

.container h1 {
    font-size: 30px;
}

.container input {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 30px;
}

.container button {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 25px;
}

.left-side {
    flex: 1;
    border: 4px solid black;
    min-height: 700px;
}

.right-side {
    flex: 1;
    border: 4px solid black;
    min-height: 700px;
}

.p {
    text-align: center;
}

.nav-button {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.string-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 4px solid black;
    min-height: 700px;
}

.string-container h1 {
    font-size: 35px;
}

.string-container input {
    display: block;
    margin: 15px auto;
    width: 600px;
    height: 30px;
    padding: 5px;
}

.string-container textarea {
    display: block;
    margin: 15px auto;
    width: 600px;
    height: 100px;
    padding: 5px;
}

.button-group {
    text-align: center;
    margin: 20px 0;
}

.button-group button {
    margin: 5px;
    width: 120px;
    height: 35px;
}

.string-output {
    text-align: center;
    font-size: 18px;
    margin: 20px;
    padding: 15px;
    background-color: white;
    border: 2px solid black;
    min-height: 50px;
}

.hidden {
    display: none;
}